    <section id="footer">
        <!-- Footer -->
        <footer id="footer">
            <a href="https://github.com/KaraFang?tab=repositories"><i class="social-icon fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/kara-fang-6202b6167/"><i class="social-icon fa-brands fa-linkedin-in"></i></a>
            <a href="mailto:Kara.fang1@gmail.com"><i class="social-icon fa-regular fa-envelope"></i></a>
            <p>© Copyright 2023 KaraFang</p>
        </footer>
    </section>
</html>