<%- include("partials/header.ejs"); -%>                
    <body>
        <section id="body">
            <div class="container">
              <div class="form">
                <div class="contact-info">
                  <h3 class="title">Let's get in touch</h3>
                  <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                    dolorum adipisci recusandae praesentium dicta!
                  </p>

                  <div class="info">
                    <div class="information">
                      <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                      <p>Toronto, ON, CA</p>
                    </div>
                    <div class="information">
                      <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                      <p>kara.fang1@gmail.com</p>
                    </div>
                    <div class="information">
                      <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                      <p>+1(437)989-6552</p>
                    </div>
                  </div>

                  <div class="social-media">
                    <div class="social-icons">
                      <a href="#">
                        <i class="fab fa-instagram"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-github"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="contact-form">

                  <form action="https://formsubmit.co/kara.fang1@gmail.com" method="POST" autocomplete="off">
                    <h3 class="title">Contact me</h3>
                    <!-- Honeypot -->
                    <input type=""text" name="_honey" style="display: none;">

                    <!-- Disable Captcha -->
                    <input type="hidden" name="_captcha" value="false">
                    <input type="hidden" name="_next" value="https://karafang.com/success.html">

                    <div class="input-container">
                      <label for="">First Name</label>
                      <input type="text" placeholder="Enter your name" name="First&nbsp;Name" class="input" id="contact-name" onkeyup="validateName()"/>
                      <span id="name-error"></span>
                    </div>
                    <div class="input-container">
                      <label for="">Last Name</label>
                      <input type="text" name="Last&nbsp;Name" class="input" required/>
                      <span>Last Name</span>
                    </div>
                    <div class="input-container">
                      <span>Email</span>
                      <input type="email" name="Email" class="input" required/>
                      <label for="">Email</label>
                    </div>
                    <div class="input-container textarea">
                      <span>Message</span>
                      <textarea name="Message" class="input" required></textarea>
                      <label for="">Message</label>
                    </div>
                    <input type="submit" value="send" class="btn btn-outline-light btn-lg" />
                  </form>
                </div>
              </div>
            </div>

        </section>
        <script src="app.js"></script>
        <script src="script.js"></script>
    </body>

<%- include("partials/footer.ejs"); -%> 