<%- include("partials/header.ejs"); -%>                
    <body>
        <section id="body">
            <div class="container">
              <div class="form">
                <div class="contact-info">
                  <h3 class="title">Let's get in touch</h3>
                  <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                    dolorum adipisci recusandae praesentium dicta!
                  </p>

                  <div class="info">
                    <div class="information">
                      <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                      <p>Toronto, ON, CA</p>
                    </div>
                    <div class="information">
                      <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                      <p>kara.fang1@gmail.com</p>
                    </div>
                    <div class="information">
                      <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                      <p>+1(437)989-6552</p>
                    </div>
                  </div>

                  <div class="social-media">
                    <div class="social-icons">
                      <a href="#">
                        <i class="fab fa-instagram"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-github"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="contact-form">

                  <form action="index.html" autocomplete="off">
                    <h3 class="title">Contact me</h3>
                    <div class="input-container">
                      <input type="text" require="required" name="fname" class="input" />
                      <span>First Name</span>
                      <!-- <label for="">First Name</label> -->
                    </div>
                    <div class="input-container">
                      <input type="text" require="required" name="lname" class="input" />
                      <span>Last Name</span>
                      <!-- <label for="">Last Name</label> -->
                    </div>
                    <div class="input-container">
                      <input type="email" require="required" name="email" class="input" />
                      <span>Email</span>
                      <!-- <label for="">Email</label> -->
                    </div>
                    <div class="input-container textarea">
                      <textarea name="message" require="required" class="input"></textarea>
                      <span>Message</span>
                      <!-- <label for="">Message</label> -->
                    </div>
                    <input type="submit" value="send" class="btn btn-outline-light btn-lg" />
                  </form>
                </div>
              </div>
            </div>

            <script src="app.js"></script>
        </section>
    </body>

<%- include("partials/footer.ejs"); -%> 