<%- include("partials/header.ejs"); -%>                
    <body>
        <section id="body">
            <div class="container">
              <div class="form">
                <div class="contact-info">
                  <h3 class="title">Let's get in touch</h3>
                  <p class="text">
                    Want to connect?
                    <br>
                    <br>
                    Feel free to shoot me a message if you have questions for me,
                    or you can simply drop by to say hi.
                    I will get back to you as soon as I can.
                  </p>

                  <div class="info">
                    <div class="information">
                      <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                      <p>Toronto, ON, CA</p>
                    </div>
                    <div class="information">
                      <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                      <p>kara.fang1@gmail.com</p>
                    </div>
                    <div class="information">
                      <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                      <p>+1(437)989-6552</p>
                    </div>
                  </div>

                  <div class="social-media">
                    <div class="social-icons">
                      <a href="#">
                        <i class="fab fa-instagram"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-github"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="contact-form">

                  <form action="https://formsubmit.co/kara.fang1@gmail.com" method="POST" autocomplete="off">
                    <h3 class="title">Message me</h3>
                    <!-- Honeypot -->
                    <input type=""text" name="_honey" style="display: none;">

                    <!-- Disable Captcha -->
                    <input type="hidden" name="_captcha" value="false">
                    <input type="hidden" name="_next" href="/contact-success">

                    <div class="input-container">
                      <label for="">First Name</label>
                      <input type="text" name="First&nbsp;Name" class="input" id="contact-fname" onkeyup="validateFName()">
                      <span id="fname-error"></span>
                    </div>
                    <div class="input-container">
                      <label for="">Last Name</label>
                      <input type="text" name="Last&nbsp;Name" class="input" id="contact-lname" onkeyup="validateLName()">
                      <span id="lname-error"></span>
                    </div>
                    <div class="input-container">
                      <label for="">Email</label>
                      <input type="email" name="Email" class="input" id="contact-email" onkeyup="validateEmail()">
                      <span id="email-error"></span>
                    </div>
                    <div class="input-container textarea">
                      <label for="">Message</label>
                      <textarea name="Message" class="input" id="contact-msg" onkeyup="validateMsg()"></textarea>
                      <span id="msg-error"></span>
                    </div>
                    <button onclick="return validateForm()" class="btn btn-outline-light btn-lg">Submit</button>
                    <span id="submit-error"></span>
                  </form>
                </div>
              </div>
            </div>
        </section>
        <script src="/script.js"></script>
    </body>

<%- include("partials/footer.ejs"); -%> 