<%- include("partials/header.ejs"); -%>                
    <body>
        <div class="container-fluid">
            <h1 class="text-center">Success!</h1>
            <p class="text-center">I will get back to you soon.</p>
                
        </div>
    </body>

<%- include("partials/footer.ejs"); -%> 