<%- include("partials/header.ejs"); -%>                
    <body>
        <section id="body">
            <div class="container-fluid">  
                <!-- Home Page -->
                <div class="row">
                    <div class="col-lg-6 ms-auto">
                        <h1>Kara Fang</h1>
                        <p>Software Engineer</p>
                        <p>My name is Kara, a Computer Programming graduate with a production management background in manufacturing industry.
                           I am passionate about building things on the web and see them go alive.
                        </p>
                        <button onclick="window.location.href='https://drive.google.com/file/d/17CaqsF3n1DhWoehKVTrcI-b8oRfObdDE/view?usp=sharing';" type="button" class="btn btn-outline-light btn-lg homepage-btn"><i class="fa-regular fa-file"></i></i> Resume</button>
                        <button onclick="window.location.href='mailto:Kara.fang1@gmail.com';" type="button" class="btn btn-outline-light btn-lg homepage-btn"><i class="fa-regular fa-message"></i> Contact me</button>
                    </div>
    
                    <div class="col-lg-6 ms-auto">
                        <img class="home-img" src="images/Photo1.png" alt="Kara, bio picture">
                    </div>
                </div>
            </div>
        </section>
    </body>

<%- include("partials/footer.ejs"); -%> 