<%- include("partials/header.ejs"); -%>                
    <body>
        <div class="container-fluid">
            <h1 class="text-center">Coming soon</h1>
                
        </div>
    </body>

<%- include("partials/footer.ejs"); -%> 