
/* Global Variables */
body {
  font-family: 'JetBrains Mono';
}

/* ========== Header Settings ========== */
#header {
  background-color: #09131B;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3rem 5rem;
  --bs-navbar-nav-link-padding-x: 1.5rem;
}

.logo {
  width:3rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'JetBrains Mono';
}


/* ========== Body Settings ========== */
#body {
  background-color: #09131B;
}

.container-fluid {
  padding: 20% 15% 5% 15%;
}

/* Text */
h1 {
  font-family: 'Averia Sans Libre', cursive;
  font-size: 4rem;
  color: #FFF7AD;
  line-height: 1.5;
}

p {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  color: #8DF1C9;
  line-height: 1.5;
}

/* Buttons */
.btn-outline-light {
  --bs-btn-border-color: #8DF1C9;
  --bs-btn-hover-bg: #8DF1C9;
  --bs-btn-hover-border-color: #8DF1C9;
}

.homepage-btn {
  margin: 5% 3% 5% 0%;
}

/* Home Page Image */
.home-img {
  width: 110%;
  transform: rotate(5deg);
  padding: 10% 10% 0% 20%;
}


/* ========== footer Settings ========== */
#footer {
  background-color: #09131B;
  padding: 5% 5%;
  text-align: center;
}

.social-icon {
  font-size: large ;
  margin: 3% 3%;
  color: #8DF1C9;
}